/* O * ele pega tudo */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primeira: #4f46e5;
  --segundo: #7c3aed;
  --escuro: #0f172a;
  --claro: #e3e8f0;
  --vidro: rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--escuro);
  color: var(--claro);
}

.navegacao {
  position: fixed;
  top: 0;
  background: rgba(15, 23, 42, 0.8);
  width: 100%;
  z-index: 100;
  padding: 1.5rem;
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 2rem;
}

.menu-link {
  text-decoration: none;
  color: var(--claro);
  font-weight: 500;
  position: relative;
  padding: 0.5rem 0;
}

/* affter -> depois / before -< antes */

.menu-link::after {
  content: '';
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, var(--primeira), var(--segundo));
  transition: width 0.5s ease;
}

.menu-link:hover::after {
  width: 100%;
}

.cabecalho {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.foto-perfil {
  width: 200px;
  height: 200px;
  box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
  border-radius: 10%;
  border: solid 2px var(--vidro);
  animation: flutuar 6s ease-in-out infinite;

}

h1 {
  font-size: 3.5rem;
  color: var(--primeira);
  font-weight: bold;
  margin: 10px;
}

.cabecalho-sub-titulo {
  font-size: 1.5rem;
  color: var(--claro)
}

.sobre {
  padding: 0rem 0rem;
}

.sobre-titulo {
  font-size: 3rem;
  color: var(--claro);
  text-align: center;
  margin-bottom: 10px;
}

.sobre-caixa {
  padding: 2rem;
  max-width: 700px;
  margin: 0 auto;
  border-radius: 16px;
  border: 1px solid var(--vidro);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.05)
}

.sobre-paragrafo {
  text-align: center;
  font-size: 1rem;
}

.projetos {
  padding: 6rem 2rem;
}

.projetos-titulo {
  font-size: 3rem;
  color: var(--claro);
  text-align: center;
  margin-bottom: 2px;
}

.projetos-caixa {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.projetos-card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(10px);
  border: 1px solid var(--vidro);
  overflow: hidden;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.projetos-titulo {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.projetos-card:hover {
  box-shadow: 0 10px 20px rgba(79, 70, 229, 0.3);
  transform: translateY(-10px) scale(1.05);
}

.projetos-imagem {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.caixa-textos-projeto {
  padding: 1.5rem;
}

.paragrafo-projetos {
  color: rgba(226, 232, 240, 0.8);
  line-height: 1.25rem;
}

.info-projetos {
  margin-bottom: 5px;
}

.contatos {
  padding: 6rem 2rem;
}

.contatos-titulo {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.formulario-contato {
  margin: 0 auto;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  padding: 2rem;
  border: 1px solid var(--vidro);
  border-radius: 16px;
}

.campo-form {
  width: 100%;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  color: var(--claro);
  border: 1px solid var(--primeira);
  outline: none;

}

.campo-form:focus {
  border-color: var(--segundo);
  box-shadow: rgba(79, 70, 229, 0.3);
}

.grupo-form {
  margin-bottom: 1.5rem;
}

.botao-form {
  color: var(--claro);
  background: linear-gradient(45deg, var(--primeira), var(--segundo));
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  transition: all 0.5s ease;
}

.botao-form:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(79, 70, 229, 0.3);
}

.particulas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  background:
    radial-gradient(circle at 10% 20%, var(--primeira) 0%, transparent 20%),
    radial-gradient(circle at 90% 80%, var(--segundo) 0%, transparent 20%),
    var(--escuro);
}

@keyframes flutuar {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

}

.github {
  font-size: 18px;
  display: flex;
  margin: 10% auto;
  color: var(--primeira);
}


/* parei aqui 52:16
https://www.youtube.com/watch?v=V1vmK3EOCuI

configurações do vscode
extensão Prettier - Code formatter
default formatter
format on save
*/